
<div class="center jumbotron">
  <%= image_tag("FLICKY.png", alt: "Kitten") %>

  <h2>
    Having Trouble Choosing a Movie to watch?
  </h2>
  <h4>
    Find group consensus by individually voting <br>
     on a selection of top movies
  </h4>

  <%= form_for(:session, url: start_path) do |f| %>

    <%= f.label :viewers %>:  
    <%= f.number_field(:viewers, in: 1..10) %>

    <div class="row nav-row">
      <br>
      <%= f.submit "Start Flicking!", class: "btn-success btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
