
<div class="center jumbotron">
  <%= image_tag("FLICKY.png", alt: "Kitten") %>

  <h2>
    Use a Tinder Style Interface to select a </br>
    movie for your group of friends to watch.
  </h2>

  <%= form_for(:session, url: start_path) do |f| %>

    <%= f.label :viewers %>
    <%= f.number_field(:viewers, in: 1..10) %>

    <div class="row nav-row">
      <br>
      <%= f.submit "Start Flicking!", class: "btn-success btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
